ul li{
	display: inline-block;
	font-size: 13px;
    background: #607d8b;
    width: 241px;
    height: 40px;
    font-style: oblique;
    font-weight: bold;
    line-height: 40px;	
    text-align: center;	
}
ul li a{
	color: white;
	text-decoration: none;
}
ul li:hover{
	background-color: purple;
}
